aiosqlite
anyio[trio] >= 3.2.1
autoflake
ellar-cli >= 0.3.7
factory-boy >= 3.3.0
httpx
Pillow >=10.4.0, <10.5.0
mypy == 1.11.2
pytest >= 7.1.3,< 9.0.0
pytest-asyncio
pytest-cov >= 2.12.0,< 6.0.0
ruff ==0.6.3
